p { font-size: 16px

  }

h1  {
    background-color: #FF00D8;
    color: #36FF00;
    font-size: 40px
    
  }

  h2 {
    background-color: #36FF00;
    color: #FF00D8;
    font-size: 18px

strong { color:  #FF00D8;
        font-weight:
normal}

