p {color: #36FF00;
  font-size: 16px
  }

font { color: 36FF00;
   font-weight:
normal}
}

strong { color:  #FF00D8;
        font-weight:
normal}

span {color: #36FF00}


.main { border: white solid 1px}
  column-count: 3;
 
}
